.container-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 20%;
}


h1 {
    text-align: center;
    font-size: 45px;
}

.seperator {
    margin-top: 40px;
}

.main-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.post-content {
    margin-bottom: 3.5rem;
    display: flex;
    width: 60%;
    align-items: center;
    gap: 2rem;
}

.main-articles :hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.article-image {
    width: 20%;
    border-radius: 15px;
    height: auto;
    margin-right: 16px;
}

.article-title {
    font-weight: bold;
    font-size: 1.9rem;
    margin-bottom: 4px;
}

.article-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.article-date {
    margin-top: 20px;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .post-content {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
        width: 90%; /* Aumenta a largura do contêiner */
    }

    .article-image {
        width: 100%; /* A imagem ocupará toda a largura do contêiner em dispositivos móveis */
    }
}
